{% extends "base.html" %} {% load static %} {% block content1 %}

<div class="row my-5">
  <div class="col-4 d-flex justify-content-center align-items-center">
    <img
      src="{% static 'images/biwash.png' %}"
      alt="image"
      class="about_image"
    />
  </div>

  <div class="col-7 text-left text-light ">
    <h2>Hello!</h2>
    <p class="fs-5">
      I'm Biwash Gurung, a passionate and dedicated full-stack web developer
      with a primary focus on frontend development. With a keen eye for design
      and a commitment to crafting seamless user experiences, I thrive on
      transforming creative ideas into functional and visually appealing
      websites.
    </p>
    <p class="fs-5">
      My journey in the ever-evolving world of web development has equipped me
      with a versatile skill set, allowing me to navigate through various
      technologies and frameworks. Whether it's bringing a user interface to
      life with cutting-edge technologies or ensuring optimal performance across
      different devices, I am driven by the pursuit of excellence. Let's embark
      on a digital journey together, where innovation meets functionality, and
      where your ideas are transformed into captivating web experiences. Welcome
      to my portfolio — a testament to my dedication to the art and science of
      web development.
    </p>
  </div>

  <div class="row my-2">
    <h2 class="text-center" style="color: #4fffb0">My tech Stack</h2>

    <div class="d-flex justify-content-around align-items-center">
      <img
        src="{% static 'images/html.webp' %}"
        width="70"
        height="70"
        class="img-fluid"
        alt="html"
      />
      <img
        src="{% static 'images/css.svg' %}"
        width="70"
        height="70"
        class="img-fluid"
        alt="css"
      />
      <img
        src="{% static 'images/JavaScript.png' %}"
        width="70"
        height="70"
        class="img-fluid"
        alt="javascript"
      />
      <img
        src="{% static 'images/Bootstrap.svg' %}"
        width="70"
        height="70"
        class="img-fluid"
        alt="bootstrap"
      />
      <img
        src="{% static 'images/tailwind.svg' %}"
        width="70"
        height="70"
        class="img-fluid"
        alt="tailwind css"
      />
      <img
        src="{% static 'images/python.png' %}"
        width="70"
        height="70"
        class="img-fluid"
        alt="python"
      />
      <img
        src="{% static 'images/Django.png' %}"
        width="70"
        height="70"
        class="img-fluid"
        alt="Django"
      />
      <img
        src="{% static 'images/mysql.svg' %}"
        width="70"
        height="70"
        class="img-fluid"
        alt="MySQl"
      />
      <img
        src="{% static 'images/git.png' %}"
        width="70"
        height="70"
        class="img-fluid"
        alt="Git"
      />
      <img
        src="{% static 'images/github.png' %}"
        width="70"
        height="70"
        class="img-fluid"
        alt="Github"
      />
      <img
        src="{% static 'images/figma.jpg' %}"
        width="70"
        height="70"
        class="img-fluid"
        alt="Figma"
      />
    </div>
  </div>
</div>
{% endblock content1 %}
