{% extends "base.html" %} {% load static %} {% block content1 %}
<div class="row my-5">
  <div class="col-12 d-flex justify-content-center align-items-center">
    <div class="circular-image-container">
      <img
        class="circular-image"
        src="{% static 'images/biwash.png' %}"
        alt="Biwash.dev"
      />
    </div>
  </div>
  <div class="col-12 text-center mt-3">
    <h4 class="title">Hi, I'm</h4>
    <div class="name">
      <h1>Biwash Gurung</h1>
      <h1>A FullStack Web Developer</h1>
    </div>
  </div>

  <div class="col-12 text-center mt-3">
    <div class="col-12 d-flex justify-content-center align-items-center">
        <a href="https://www.linkedin.com/in/biwashgurung" target="_blank" class="ms-3">
          <img
            src="{% static 'images/linkinLogo.png' %}"
            alt="Linkedin"
            width="50"
            height="50"
            class="social_links"
          />
        </a>
        <a href="https://github.com/BiwashGurung" target="_blank"  class="ms-3">
          <img
            src="{% static 'images/github.png' %}"
            alt="Github"
            width="50"
            height="50"
            class="social_links"
    
          />
        </a>
        <a href="https://www.instagram.com/dexy_nation/" target="_blank"  class="ms-3">
          <img
            src="{% static 'images/insta.png' %}"
            alt="Instagram"
            width="50"
            height="50"
            class="social_links"
    
          />
        </a>


    </div>
  </div>
</div>
{% endblock content1 %}
